{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content%}
<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
             </div>
    <div class="col-md-4">
      <h3>{{post.blog_title}}</h3>
      <hr>
      <br><br>
  <p style="font-size: xx-large;">   {{format_post|safe}}   </p> 
  <br>
  <a href="{{url_for('main.comments',blog_id = post.id)}}" class="btn btn-info btn-lg"><i class="fa fa-comments-o" aria-hidden="true"></i> Comments</a>
 
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{%endblock%}